{% extends "layout.html" %}

{% block content %}

  <div class="text-center text-3xl m-8 ">
    Logs history
  </div>


  {% if logs is iterable %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Context of activity
                </th>
                <th scope="col" class="px-6 py-3">
                    Location of activity
                </th>
                <th scope="col" class="px-6 py-3">
                    Identifier
                </th>
                <th scope="col" class="px-6 py-3">
                    Timestamp
                </th>
                <th scope="col" class="px-6 py-3">
                    Type of activity
                </th>
                
            </tr>
        </thead>
        <tbody>
          {% for item in logs %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{item['context of offense']}}
                </th>
                <td class="px-6 py-4">
                  {{item['location of offense']}}
                </td>
                <td class="px-6 py-4">
                  {{item['offender']}}
                </td>
                <td class="px-6 py-4">
                  {{item['timestamp']}}
                </td>
                <td class="px-6 py-4">
                  {{item['type of offense']}}
                </td>
                <!-- <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  {% else %}
  <div class="text-center">
    <p>No logs yet.</p>
  </div>
  {% endif %}


{% endblock %}