


{% block content %}
        <div class="flex justify-between px-6 py-3" style="background: #252525;">
            <p class="text-xl ml-4 font-bold text-white">
                Thawne
                <span class="text-yellow-300 mx-1">
                    <ion-icon name="flash"></ion-icon>
                </span>
            </p>
            <div class="flex items-center space-x-4 text-white">
                <a href="/viewlogs" class="hover:text-gray-300 transition-ease-in-out duration-200">
                    View logs
                </a>
                <a href="/chats" class="hover:text-gray-300 transition-ease-in-out duration-200">
                    Chat queues
                </a>
            </div>
        </div>

{% endblock %}